{
    attributes = (
        {
            allowsNull = N; 
            columnName = "OID_AUTHOR"; 
            isReadOnly = N; 
            name = authorID; 
            prototypeName = id; 
        }, 
        {
            allowsNull = N; 
            columnName = "AUTH_UNIQNAME"; 
            name = authorUniqname; 
            prototypeName = varchar10; 
            valueType = S; 
            width = 8; 
        }, 
        {
            allowsNull = N; 
            columnName = "OID_AD_CATEGORY"; 
            name = categoryID; 
            prototypeName = id; 
        }, 
        {
            allowsNull = Y; 
            columnName = "AD_EXP_DATE"; 
            name = expiryDate; 
            prototypeName = dateTime; 
        }, 
        {allowsNull = N; columnName = OID; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = "AD_DELETED"; 
            name = isDeleted; 
            prototypeName = charFlag; 
            valueType = S; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MP_AD_TEXT"; 
            name = itemDescription; 
            prototypeName = varchar1000; 
            valueType = S; 
            width = 1999; 
        }, 
        {
            allowsNull = Y; 
            columnName = "AD_URL"; 
            name = itemLink; 
            prototypeName = varchar100; 
            valueType = S; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MP_AD_PRICE"; 
            externalType = DOUBLE; 
            name = itemPrice; 
            prototypeName = doubleNumber; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MP_TITLE"; 
            name = itemTitle; 
            prototypeName = varchar100; 
            valueType = S; 
        }, 
        {
            allowsNull = Y; 
            columnName = "LAST_MODIFIED"; 
            name = modifyDate; 
            prototypeName = dateTime; 
        }, 
        {
            allowsNull = Y; 
            columnName = "AD_NUMBER"; 
            name = number; 
            prototypeName = intNumber; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MP_AD_POST_DATE"; 
            name = postedDate; 
            prototypeName = dateTime; 
        }
    ); 
    attributesUsedForLocking = (authorUniqname, categoryID, id, isDeleted); 
    className = "edu.umich.marketplace.eof.Advert"; 
    classProperties = (
        author, 
        authorUniqname, 
        category, 
        expiryDate, 
        followers, 
        isDeleted, 
        itemDescription, 
        itemLink, 
        itemPrice, 
        itemTitle, 
        modifyDate, 
        number, 
        postedDate
    ); 
    externalName = ADVERT; 
    name = Advert; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Author; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = authorID; }); 
            name = author; 
        }, 
        {
            destination = Category; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = categoryID; }); 
            name = category; 
        }, 
        {definition = "hotLinks.author"; name = followers; }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = HotLink; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = advertId; sourceAttribute = id; }); 
            name = hotLinks; 
            propagatesPrimaryKey = Y; 
        }
    ); 
}
