{
    attributes = (
        {allowsNull = N; columnName = OID; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = "CATEGORY_NAME"; 
            name = name; 
            prototypeName = varchar100; 
            valueType = S; 
            width = 50; 
        }, 
        {
            allowsNull = Y; 
            columnName = "OID_PARENT"; 
            name = parentID; 
            prototypeName = id; 
        }
    ); 
    attributesUsedForLocking = (id); 
    className = "edu.umich.marketplace.eof.Category"; 
    classProperties = (adverts, id, name, parent, parentID); 
    externalName = CATEGORY; 
    name = Category; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Advert; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = categoryID; sourceAttribute = id; }); 
            name = adverts; 
        }, 
        {
            destination = Category; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = parentID; }); 
            name = parent; 
        }
    ); 
}
