<wo:MarketplaceSkin pageTitle = "[application.name]"><td>
<wo:MarketplacePanel panelTitle = "Category and Subcategory Editor">

<wo:form multipleSubmit = "true">
  <table cellspacing = "0" cellpadding = "4" border = "1" width = "100%">
    <wo:repeat list="[allCategories]" item="[oneCategory]" >
    <tr><wo:if condition = "[oneCategory.isTopCategory]">
		<td bgcolor = "yellow"><wo:string value = "[oneCategory.name]"/>
			<wo:WOSubmitButton class="btn" action = "[addSubcategory]" value = "edit category" /></td>
		<td bgcolor = "yellow">
			<wo:WOSubmitButton class="btn" action = "[addSubcategory]" value = "add subcategory" /></td>
	    <wo:else>
	    <td><wo:string value = "[oneCategory.parent.name]"/></td>
	    <td><wo:string value = "[oneCategory.name]"/>
		    <wo:WOSubmitButton class="btn" action = "[addSubcategory]" value = "del subcategory" />
		    <wo:WOSubmitButton class="btn" action = "[addSubcategory]" value = "edit subcategory" /></td></wo:else></wo:if>
    </tr></wo:repeat></table>
  </wo:form>
</wo:MarketplacePanel>
</td></wo:MarketplaceSkin>