<wo:MarketplacePanel panelTitle = "you are viewing: found adverts" panelToolTip = "[toolTipText]"
                      panelType = "side" alertMessage = "[alertMessage]">
<wo:WOForm multipleSubmit = "true" method = "GET">

<wo:WOSubmitButton class="btn" action = "[userSessionModel.prepareCategoryAdvertsDisplay]" value = "return to category" />&nbsp;
<wo:WOSubmitButton class="btn" action = "[userSessionModel.prepareAdvertCreationPanel]" value = "post a new advert" />&nbsp;
<wo:WOSubmitButton class="btn" action = "[userSessionModel.prepareAuthorAdvertsDisplay]" value = "change status of my adverts" /><br />

<wo:AdvertListView list = "[userSessionModel.foundAdverts]" canAddToFavorites = "true" canPostToAuthor = "true"/></wo:WOForm></wo:MarketplacePanel>