<wo:MarketplaceSkin pageTitle = "[application.name]"><br/><br/>

<wo:MPUserBulletin />

<wo:if condition = "[sess.userSessionModel.isTwoColumns]"><td width = "35%" valign = "top">

<wo:if condition = "[sess.userSessionModel.isAuthorAdmin]"><wo:AdminInstructionsPanel /><br /></wo:if>

<wo:CategorySelectorPanel /><br />

<wo:MarketplacePanel panelTitle = "[properties.appropriateUseTitle]"
                      panelText = "[properties.appropriateUseText]"
                      panelType = "side">
</wo:MarketplacePanel><br />
  
<wo:MarketplacePanel panelTitle = "[properties.additionalResourcesTitle]" 
                      panelText = "[properties.additionalResourcesText]"
                      panelType = "side">
</wo:MarketplacePanel>
  
</td></wo:if>
<td width = "65%" valign = "top">
<wo:WOSwitchComponent WOComponentName = "[sess.userSessionModel.advertViewerName]" /></td></wo:MarketplaceSkin>