<style type="text/css">
.red {
    background-color: #f99;
    padding: 2px;
    font: small-caps medium "Lucida Grande", Lucida, Verdana, sans-serif;
}

.blu {
    background-color: #aaf;
    padding: 2px;
    font: small-caps medium "Lucida Grande", Lucida, Verdana, sans-serif;
}
</style><wo:MarketplacePanel panelTitle = "Welcome, Master O' Marketplace!" 
							  panelType = "side">
<wo:form><span class="red">1</span><span class="blu">Read changes to ads into this application</span><br/>
<b>Note:</b> Clicking this button <wo:WOSubmitButton action = "[bringAdsUpToDate]" name = "updateAds" 
                                                      value = "bring adverts up to date" /> ensures that you will see 
all the ads that have been posted until this moment.</wo:form>

<span class="red">2</span><span class="blu">Place troublesome ads in your favorites</span><br/>
Visit the categories of interest and add troublesome ads to your favorites.<br/><br/>

<span class="red">3</span><span class="blu">Go to your favorites to remove its ads from the system</span><br/>
Go to your favorites and click the &quot;<b>remove these ads from system</b>&quot; button. You will be asked to confirm 
the delete, since deleting truly removes all the ads in your favorites from the application (but not from the database).<br/><br/>
<b>Note:</b> It will take a little time for the ads to be removed from <b>every</b> running instance of Marketplace.</wo:MarketplacePanel>