<wo:if condition = "[userSessionModel.isBroadcastMessageForCategory]">
<wo:MarketplacePanel panelTitle = "[userSessionModel.broadcastTitleForCategory]" panelToolTip = "Messages related to this category."
                  panelType = "side">
    <span style = "[userSessionModel.broadcastTextStyleForCategory]" ><wo:string value = "[userSessionModel.broadcastMessageForCategory]" /></span></wo:MarketplacePanel><br />
</wo:if>

<wo:MarketplacePanel panelTitle = "[panelTitle]" panelToolTip = "[toolTipText]"
                  panelType = "side" alertMessage = "[alertMessage]">
  <wo:WOForm multipleSubmit = "true" method = "GET">
    <wo:if condition = "[userSessionModel.categoryAdverts.count]">
       <wo:submit action="[userSessionModel.searchOnKeywords]" 
                    name="find" value="find" /> <wo:textfield value="[userSessionModel.searchTerms]" size="15" />
                    in <wo:string value = "[userSessionModel.displayCategory.longName]" /><br />

<wo:WOSubmitButton class="btn" action = "[userSessionModel.prepareAdvertCreationPanel]" value = "post a new advert" />&nbsp;
<wo:WOSubmitButton class="btn" action = "[userSessionModel.prepareAuthorAdvertsDisplay]" value = "change status of my adverts" /><br />

         <wo:AdvertListView list = "[userSessionModel.categoryAdverts]" canAddToFavorites = "true" canPostToAuthor = "true"/>
    <wo:else><b>There are no adverts in the &lt;<wo:string value = "[userSessionModel.displayCategory.longName]" />&gt; category.</b></wo:else></wo:if>
    </wo:WOForm></wo:MarketplacePanel>