<wo:CategoryMessages />

<wo:MarketplacePanel panelTitle = "You are viewing: All the unexpired adverts" 
                   panelToolTip = "[toolTipText]"
                   alertMessage = "[alertMessage]"
                      panelType = "side">
<wo:WOForm multipleSubmit = "true" method = "get">

<wo:WOSubmitButton class="btn" action = "[userSessionModel.prepareAdvertCreationPanel]" value = "post a new advert" />&nbsp;
<wo:WOSubmitButton class="btn" action = "[userSessionModel.prepareAuthorAdvertsDisplay]" value = "change status of my adverts" /><br />

<wo:AdvertListView list = "[app.applicationModel.activeAdverts]" canPostToAuthor = "true" canAddToFavorites = "true"/>
</wo:WOForm></wo:MarketplacePanel>